# Communication Arts and Sciences' Data Summer Camp Session One

## Camp Structure
Each day we will have a set list of things we are going to work through. It is hard to predict just how long each thing will take, a lot depending on questions and how many technical issues we run into. If we get done early each session, great! If we go the whole time, that is also great!

Camp is completely optional and come and go as you please. If some content is not as useful for you, of course you do not need to attend that session. However, much of what we do builds off of concepts and code from before. For example, if you miss the session on R basics and come for machine learning, you could easily have a hard time keeping up. You know best what you want to learn and what is most useful for you.

Camp is held over two session. Session One (this one) is three days on Python. This will include how to use Python through Jupyter Lab, basic coding skills, data managment and analysis, visualizations, webscraping, and API usage. Session Two covers similar topics in R.

## Day One
Today, we are going to explore Jupyter a bit and work through some basic commands. Once we have a sense of how to input code and what it does, we will move on to working with datasets through analysis and visualization.

This is a Jupyter notebook. At its basic level, a Jupyter notebook is just a set of commands. It is organized into code "cells" that you can run individually. Each code cell contains a set of commands you want to execute.

#### Code Cells

There are three types of cells in Jupyter: Markdown, Raw, and code.

This is a Markdown cell. Markdown is similar to HTML code in that you can format the text in a variety of different ways. We will not do much in Markdown in this camp, but it is good to understand why this cell does not run any code when you try to. A large percentage of our notebooks are written in Markdown.

This is a raw cell. It doesn't do anything that we need to worry about (it can be used for HTML or Latex code), but like markdown is could be used for adding text to your script.

In [ ]:
# This is a code cell. This is where we actually run Python commands. Note how each three cells look different. 
# To write text in code cell, you need to start with a "#". This is also called commenting.

#### Some Anaconda Shortcuts:

You can quickly add a new code cell by clicking the [] to the left and pressing the "b" key. You cannot have a code cell currently selected for this to work. Similarly, you can delete a code block by pressing "d,d" in the same way you add a code cell.

You can run lines of code using shift+enter which will move to the next line or ctrl+enter, which stays on the line.

I recommend turning on line numbers under "View"

## Basic Python

There are a few different kinds of objects that we can create and use in Python. Similar to other languages, like R, the kind of object dictates its behavior.

- Integers are exactly what they sound like, numbers without decimal points. They are abbreviated Int.
- Floats are integers with decimal points. If you have a float and make it an integer, the decimal disappears.
- Strings are text. They can include numbers, decimals, symbols, whatever. But they cannot be manipulated like numbers.
- Booleans are True or False. They are useful for using if statements and functions.
- Lists, sets, and dictionaries are others which we will cover later.

### Simple Math

In [2]:
5 + 6

11

In [4]:
4 - 3

1

In [ ]:
18 * 45

In [ ]:
6 / 5

In [ ]:
2**6

In [ ]:
6 / 5 * 5

In [ ]:
6 - 5 / 5

In [ ]:
(6 - 5) / 5

You can save values as objects. 

Objects must be one word (or words combined together with no spaces). A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

They cannot start with numbers or symbols.

In [6]:
x = 5
xN = 5
X_N = 5
x9 = 5

When you save an object, by default Python will not show you any output. You must "call" the object by typing its name to see what its value is.

In [9]:
x

5

It is important to have system for naming objects as Python will override the value of an object without prompting you.

In [ ]:
x = 5
x

In [ ]:
x = 4
x

What we have been working with are integers, or whole numbers. A number with a decimal is called a float. The distinction is important as we will see later.

In [ ]:
y = 5.0

In [ ]:
y

We can use the function type() to check what an object is. Functions like type() have parenthesis where you put the object or thing you want the function run on inside them.

In [ ]:
y = 5.0
type(y)

In [ ]:
x = 5
type(x)

You can also do things with objects. When we save the object y as equal to 5, we can then do things to y as if it is the number 5.

In [ ]:
y = 5
y + 4

In [ ]:
x = 5
y = 6
x * y

In [ ]:
z = y * y
z

#### Practice

Add 5 and 6 together. It can be saved as an object or not.

In [11]:
5+6

11

Create an object called y that is equal to 14 minus 8

In [15]:
y=14-8
y

6

Create an object that is the result of 54 divided by 13

In [17]:
x=54/13

Create an object using a combination of letters, numbers, and an underscore. Set that object equal to your age.

In [20]:
my_age=12

### Strings

Strings are just text. To indicate string versus an object or number, you need to use quotations. You can use single or double quotes ('' or "") but they must match. You cannot do ' ", for instance. Pick an approach and try to stick with it if you can. The best practice is double quotes.

In [22]:
"This is text"

'This is text'

In [24]:
z = "Go Green!"

In [26]:
z

'Go Green!'

In [42]:
type(z)

str

When you use quotes, anything inside of them is text, even numbers.

In [35]:
"5"

'5'

In [44]:
"5" / 5

TypeError: unsupported operand type(s) for /: 'str' and 'int'

We can use print() to display objects more like you would see in text files. Compare print(firstName) and firstName

In [46]:
firstName = "Dan"
lastName = "Rice"

firstName

'Dan'

In [48]:
print(firstName)

Dan

We can use the + sign to concatenate strings together.

In [51]:
print(firstName + lastName)

DanRice

Now we can add a space.

In [53]:
firstName = "Dan"
lastName = "Rice"

print(firstName + " " + lastName)

Dan Rice

Print only works on strings. If you have a number and want to print it with a string, you need to tell Python to treat it like a string by putting the number inside of the str() command.

In [56]:
name = "Dan"
age = 5

print(name + age)

TypeError: can only concatenate str (not "int") to str

In [58]:
print(name + str(age))

Dan5

#### Practice

Create a string that is the name of your department at MSU.

In [60]:
"adpr"

'adpr'

Print a string that says "This is a string"

In [76]:
"This is a string"

'This is a string'

Save your first and last names as different objects. Then use print to display them. Include a space.

In [181]:
first_name = "John"
last_name = "Doe"
print(first_name + " " + last_name)

John Doe

Create three different objects called apples, bananas, and pears. Set them equal to 5, 4, and 7 respectively. Create another object that is equal to the sum of apples, bananas, and pears.

In [183]:
apples = 5
bananas = 4
pears = 7
total_fruit = apples + bananas + pears
print("Total number of fruits:", total_fruit)

Total number of fruits: 16

Fix the following code chunks so that they will work by writing the correct code below each line:

In [64]:
my_string = "A practice string"

In [70]:
msu_words = "Go Green"

In [74]:
zipcode_517= 48824

## Lists, sets, tuples, and dictionaries

These are essentially containers for things, like numbers, text, or other containers.

Lists can be anything you want. Dictionaries are pairings of key and value, like word and definition in an actual dictionary. Tuples cannot be changed once you set them. Sets are like lists but only allow for unique objects (e.g. you can't have the same name in them twice). We aren't going to spend much time on tuples or sets.

### Lists

In [78]:
myList = [1,2,3,4,5,6,7,8,9]

In [80]:
myList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
my_list = ["first item","second item","third item"]

In [84]:
my_list

['first item', 'second item', 'third item']

We can use len() to see how many items are in our list.

In [87]:
len(my_list)

3

Lists are "indexed", which means that each item in the list has a numbered position. In our example we have 3 items so there are three positions. Index numbers start at 0, not 1. So the first item is index 0.

In [89]:
my_list[0]

'first item'

In [91]:
my_list[1]

'second item'

We can add items to our list using the append function. This is going to look different to the type() function because we are executing the append function on the object list and adding something to it.

In [94]:
my_list

['first item', 'second item', 'third item']

In [96]:
my_list.append("fourth item")
my_list

['first item', 'second item', 'third item', 'fourth item']

In [100]:
my_list[1] = "new second item"
print(my_list[1])

new second item

In [102]:
print(my_list)

['first item', 'new second item', 'third item', 'fourth item']

Running the cell above will keep adding items

We can also remove items by using remove() and the name of the item.

In [106]:
my_list.remove('first item')
my_list

['new second item', 'third item', 'fourth item']

In [ ]:
print(my_list)
len(my_list)

Lists can also be sorted alphabetically (sequentially) in descending order or ascending.

In [ ]:
my_list.sort()
print(my_list)

In [ ]:
my_list.reverse()
print(my_list)

Just like with strings, we can concatenate lists by using the + sign and the names of the lists. This creates a new list equal to all of the objects in both lists.

In [108]:
my_list_a = ["A","B","C"]
my_list_b = [1,2,3]
my_list_a + my_list_b

['A', 'B', 'C', 1, 2, 3]

#### Practice

Make a list with at least 4 objects in it. They can be whatever you want.

In [110]:
fruit=["apple","banana","berries","orange"]

Find the length of your list.

In [113]:
len(fruit)

4

Create a second list and combine it with your first. Get the new length.

In [121]:
veggies=["tomato","green leafs"]
healthy=fruit+veggies
healthy
len(healthy)

6

Add an item to the second list you created above.

In [187]:
healthy.append("water")
healthy

['apple',
 'banana',
 'berries',
 'orange',
 'tomato',
 'green leafs',
 'water',
 'water']

### Dictionaries

Dictionaries are like lists, but each item in the dictionary has a key and a value associated with it. You can think of these like an actual dictionary where each entry has a word (the key) and a definition (the value). Keys and values can be strings or numbers. Generally your keys will be strings and your values will be numbers, but they don't have to be (and we will use both approaches here).

In [123]:
myDict = {'key1':'value1', 'key2':'value2'}

In [125]:
myDict

{'key1': 'value1', 'key2': 'value2'}

In [127]:
myDict = {'key1':67, 'key2':2, 'Dan':'The instructor for the class'}

In [129]:
myDict

{'key1': 67, 'key2': 2, 'Dan': 'The instructor for the class'}

We can also look at just the keys.

In [132]:
myDict.keys()

dict_keys(['key1', 'key2', 'Dan'])

Or just the values.

In [135]:
myDict.values()

dict_values([67, 2, 'The instructor for the class'])

Or what are called the items, which is the combination of both.

In [ ]:
myDict.items()

We can also subset our dictionary to get the value for each key. Here we use the name of the dictionary and [] with the name of the key inside of them.

In [ ]:
myDict['key1']

In [ ]:
myDict['key2']

In [ ]:
myDict['Dan']

It is also easy to add items to a dictionary by using a similar looking code.

In [ ]:
myDict['key3'] = 3
myDict

#### Example

Dictionaries can sometimes be hard to conceptualize as useful. Here is an example of a grocery receipt using two dictionaries.

In [137]:
my_fruit_count = {"apples":0, "lemons":3}
my_fruit_prices = {"apples":1.95, "lemons":1.29}

In [139]:
my_fruit_count["lemons"]

3

In [141]:
my_fruit_prices["lemons"]

1.29

In [143]:
my_fruit_count["lemons"] * my_fruit_prices["lemons"]

3.87

In [145]:
my_fruit_count["watermelons"] = 0

In [147]:
print(my_fruit_count)

{'apples': 0, 'lemons': 3, 'watermelons': 0}

In [ ]:
my_fruit_count["watermelons"] = 5
print(my_fruit_count)

In [ ]:
my_fruit_prices["watermelons"] = 2.50

In [ ]:
my_fruit_count["watermelons"] * my_fruit_prices["watermelons"]

#### Practice

Create a dictionary with at least 3 key, value pairs. They can be whatever you want them to be.

In [149]:
first_dict = {
    "color": "blue",
    "shape": "circle",
    "animal": "dog"
}

Create another dictionary with 3 key, value pairs. Have the values all be numbers (integers or floats).

In [152]:
second_dict = {
    "number1": 3,
    "number2": 7,
    "number3": 5.5
}

Multiply the value of the second key by 14.

In [171]:
second_dict["number2"] *= 14

Save the result of adding the value of the third key to 12 as an object.

In [159]:
result = second_dict["number3"] + 12

print("First dictionary:", first_dict)
print("Second dictionary after multiplication:", second_dict)
print("Result of adding the value of the third key to 12:", result)

First dictionary: {'color': 'blue', 'shape': 'circle', 'animal': 'dog'}
Second dictionary after multiplication: {'number1': 3, 'number2': 98, 'number3': 5.5}
Result of adding the value of the third key to 12: 17.5

### Tuples

Tuples are just like lists as well, but cannot be changed once they are made. They are more memory efficient than lists, so if you have a very large number of items you want in a container and you know they won't change, a tuple can speed up the process. We will not deal with tuples very much but they are important to know.

In [ ]:
my_tuple = (1,2)

In [ ]:
my_tuple

In [ ]:
my_tuple = ("Monday","Wednesday","Friday")

In [ ]:
my_tuple[1]

In [ ]:
my_tuple[0] = "Sunday"

We can use count() to get the number of times an value appears in our tuple.

In [ ]:
my_tuple.count("Monday")

In [ ]:
my_tuple = ("Monday","Monday","Wednesday","Friday")

In [ ]:
my_tuple.count("Monday")

### Sets

Sets are a container that only allow for one instance of each value. This is great for reducing repeat values in a column or dataset or to do things like word counts or tracking a single participant across a repeated measures study.

Creating a set is sort of like creating a tuple because it uses () but the function is set() to create an empty set. Alternatively, you can use {} with the values inside of it. This is like a dictionary but doesn't have the key,value pairings.

In [ ]:
my_set = set()

In [ ]:
type(my_set)

In [ ]:
mySet = {2, 4, 6, 6, 2, 8}
type(mySet)

Adding items to a set is as simple as using the function .add()

In [ ]:
my_set = set()
my_set.add("Dan")

In [ ]:
print(my_set)

Here we are going to add a number of other items including a duplicated one

In [ ]:
my_set.add("Timmy")
my_set.add("Katrina")
my_set.add("Sally")
my_set.add("Dan")

In [ ]:
print(my_set)

#### Practice

Create an empty set.

In [161]:
empty_set = set()

Create a set with 5 numbers in it.

In [164]:
number_set = {1, 2, 3, 4, 5}

Add three numbers and two strings to your set.

In [169]:
number_set.update([6, 7, 8, "hello", "world"])
print("Empty set:", empty_set)
print("Modified number set:", number_set)

Empty set: set()
Modified number set: {1, 2, 3, 4, 5, 6, 7, 8, 'hello', 'world'}

### For Loops
We use for loops to iterate through a list of things. This is immensely useful when dealing with large data where you need to do the same thing over and over again.

The form of a loop is: for EACH SOMETHING in NUMEROUS SOMETHINGS: do a thing(s) to each something until you run out of somethings.

For loops can sometimes be a little tricky to understand, so consider the example of our list called my_list that has 4 numbers in it. Let's say we wanted to add print each item in our list. One way to do that is this.

In [195]:
my_list = [1,2,3,4]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

1
2
3
4

Instead of typing all of that out, we can automate the process by asking Python to run one set of commands on each item in our list sequentially. We do that by using for X in Y: print(X).

The X can be anything you want. It is just a placeholder variable. The Y is the container you are iterating through.

In [198]:
Y = [1,2,3,4]

In [200]:
for X in Y:
    print(X)

1
2
3
4

In [202]:
my_list = ["First","Second","Third"]
for item in my_list:
    print(item)

First
Second
Third

In [204]:
my_list = ["First","Second",4]
for item in my_list:
    print(item)

First
Second
4

In [206]:
my_list = [1,2,3,4]

for i in my_list:
    print(i**2)

1
4
9
16

For looping with a dictionary is a litte different because of the key,value pairs. Instead of using for X, it needs to be for X1,X2. In addition, we need to call the items from the dictionary using .items().

Just like above, X1 and X2 can be anything you want.

In [242]:
my_dictionary = {'k1':10, 'k2':20, 'k3':30 } fedvc dfert45gfvc xdvfergt5f
for X1,X2 in my_dictionary.items():
    print(X1+": "+str(X2))

k1: 10
k2: 20
k3: 30

In [215]:
my_dictionary = {'k1':10, 'k2':20, 'k3':30 }
for key,value in my_dictionary.items():
    print(key+": "+str(value))

k1: 10
k2: 20
k3: 30

Changing values in a list is a litte more complicated. Instead of for i in list, we need to add two changes.

The first is that we are using the index of the list, so just like a dictionary it is X1,X2 where X1 indicates the index and X2 indicates the iteration.

The second thing we need to change is to enumerate() the list. Enumerate is essentially a count variable of the iteration, starting at 0 and going up 1 each time we go through an iteration. This lets us change the index position that we are updating as you can see below.

In [217]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [221]:
for X1,X2 in enumerate(my_list):
    my_list[X1] = X2 + 5
my_list

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Consider the following practical example of a list of scores on a survey battery. We had 35 respondents who took our survey and could score between 1 and 15. We want to take the difference between the mean score for all 35 people and their actual score.

In [224]:
surveyList = [10,6,11,7,14,2,3,8,1,2,7,4,7,4,15,10,15,11,11,6,11,15,11,14,8,7,8,11,7,7,2,5,1,10,15]
surveyList

[10,
 6,
 11,
 7,
 14,
 2,
 3,
 8,
 1,
 2,
 7,
 4,
 7,
 4,
 15,
 10,
 15,
 11,
 11,
 6,
 11,
 15,
 11,
 14,
 8,
 7,
 8,
 11,
 7,
 7,
 2,
 5,
 1,
 10,
 15]

We can get the mean by taking the sum of the list and dividing it by the lenth of the list. There are other ways to do this, but we aren't that far along yet.

In [236]:
sum(surveyList) / len(surveyList)

6.0903663065151445e-16

In [238]:
surveyMean = sum(surveyList) / len(surveyList)
for idx, i in enumerate(surveyList):
    surveyList[idx] = i - surveyMean
surveyList

[1.8285714285714285,
 -2.1714285714285713,
 2.8285714285714287,
 -1.1714285714285715,
 5.828571428571428,
 -6.171428571428572,
 -5.171428571428572,
 -0.17142857142857143,
 -7.171428571428572,
 -6.171428571428572,
 -1.1714285714285715,
 -4.171428571428572,
 -1.1714285714285715,
 -4.171428571428572,
 6.828571428571428,
 1.8285714285714285,
 6.828571428571428,
 2.8285714285714287,
 2.8285714285714287,
 -2.1714285714285713,
 2.8285714285714287,
 6.828571428571428,
 2.8285714285714287,
 5.828571428571428,
 -0.17142857142857143,
 -1.1714285714285715,
 -0.17142857142857143,
 2.8285714285714287,
 -1.1714285714285715,
 -1.1714285714285715,
 -6.171428571428572,
 -3.1714285714285713,
 -7.171428571428572,
 1.8285714285714285,
 6.828571428571428]

#### Practice

Create a list of at least 4 items. Write a loop that prints each item individually.

In [240]:
# Create a list of at least 4 items
item_list = ["apple", "banana", "cherry", "date"]

# Loop to print each item individually
for item in item_list:
    print(item)

apple
banana
cherry
date

There is code to create a list below. Write a loop that adds each item in the list to the number 5 and prints the result. This does not require changing the number, just printing what it would be

In [177]:
toAdd = [1,4,7,2,6,9,2,12,-2]
for number in toAdd:
    print(5 + number)

6
9
12
7
11
14
7
17
3

Tricky question: There is an empty list below and a full list. Write a loop that adds each item from the second list to the first.

In [179]:
firstList = []
secondList = ['a','b','c','d']

# Loop to add each item from the second list to the first
for item in secondList:
    firstList.append(item)

# Print the updated first list
print(firstList)

['a', 'b', 'c', 'd']

### While Loop 
Keeps the loop going as long as a condition is met/hasn't been met.

In [ ]:
x = 5
while x > 0:
    print(x)
    # Make sure to change the condition in some way
    x = x-1

### If/Else

If statements are a common way of evaluating conditions. They are structured if SOMETHING is (greater than, less than, equal to, not equal to) SOMETHING ELSE, then do something.

For instance:

In [ ]:
x = 22

if x < 6:
    print("Hooray")

In [ ]:
if x > 14:
    print("greater than 14")

In [ ]:
if x < 6:
    print("YaY")

In [ ]:
x = 4

if x < 4:
    print("Hooray")

In [ ]:
x = 75

if x == 75:
    print("X is 75")

We can add two sub-commands to expand our if options. Else will execute if the if statement is evaluated as false. So if x is greater than 5, print something but if it is not greater than 5, print something else.

In [ ]:
x = 4
if x > 5:
    print("X is Amazing!")
else:
    print("Y is pretty cool too")

In [ ]:
x = 4
if x >= 4:
    print("4")
else:
    print("45")

We can also use elif, which is like a secondary if. You can think of it as "if the previous conditions were not true, then try this condition".

In [ ]:
x = 15
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

Finally, we can combine statements to include multiple conditions using and.

In [ ]:
x = 6
y = 12
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
y = 12
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 6
y = 16
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

### Practice

Write an if statement that checks if x is greater than 1204. If it is, print a message.

In [340]:
x = 5234

# Check if x is greater than 1204
if x > 1204:
    print(f"{x} is greater than 1204")

5234 is greater than 1204

Write an if/else statement that checks if x is less than 341. If yes, print a message, if not print a different message.

In [191]:
x = 22 * 15

# Check if x is less than 341
if x < 341:
    print(f"{x} is less than 341")
else:
    print(f"{x} is not less than 341")

330 is less than 341

Using if/else/elif, print a message if x is greater than 55, a different one if it is less than 55, and a final one if it is equal to 55.

In [193]:
x = 24 - 9 + 12 * 4 - 8

# Check if x is greater than, less than, or equal to 55
if x > 55:
    print(f"{x} is greater than 55")
elif x < 55:
    print(f"{x} is less than 55")
else:
    print(f"{x} is equal to 55")

55 is equal to 55

### Example using text

We are going to do a little text analysis. Below we are creating an object that is the first part of a news article. We can then print it to see what it looks like.

In [435]:
my_article = "Stunned residents of the small Oregon town of Phoenix walked through a scene of devastation Thursday after one of the states many wildfires wiped out much of their community, including a mobile home park, houses and businesses."

In [437]:
print(my_article)

Stunned residents of the small Oregon town of Phoenix walked through a scene of devastation Thursday after one of the states many wildfires wiped out much of their community, including a mobile home park, houses and businesses.

Next we are going to split the article into a list of each word. We use split() for this.

In [440]:
my_article_split = my_article.split()

Printing that list give us this. Note that commas are included in the word they are next to.

In [443]:
print(my_article_split)

['Stunned', 'residents', 'of', 'the', 'small', 'Oregon', 'town', 'of', 'Phoenix', 'walked', 'through', 'a', 'scene', 'of', 'devastation', 'Thursday', 'after', 'one', 'of', 'the', 'states', 'many', 'wildfires', 'wiped', 'out', 'much', 'of', 'their', 'community,', 'including', 'a', 'mobile', 'home', 'park,', 'houses', 'and', 'businesses.']

The length is 37 words long.

In [446]:
len(my_article_split)

37

We can use for loops and if statements to look at words that are over 4 characters long.

In [449]:
for word in my_article_split:
    if len(word) > 4:
        print(word)

Stunned
residents
small
Oregon
Phoenix
walked
through
scene
devastation
Thursday
after
states
wildfires
wiped
their
community,
including
mobile
park,
houses
businesses.

Or use a for loop to print each word in lowercase.

In [452]:
for item in my_article_split:
    print(item.lower())

stunned
residents
of
the
small
oregon
town
of
phoenix
walked
through
a
scene
of
devastation
thursday
after
one
of
the
states
many
wildfires
wiped
out
much
of
their
community,
including
a
mobile
home
park,
houses
and
businesses.

Storing within a separate list and defining list outside of loop

In [455]:
my_word_list = []
print(my_word_list)

[]

In [457]:
for word in my_article_split:
    if len(word) > 3:
        my_word_list.append(word.upper())
    #print(my_word_list)
len(my_word_list)

25

In [459]:
my_word_list

['STUNNED',
 'RESIDENTS',
 'SMALL',
 'OREGON',
 'TOWN',
 'PHOENIX',
 'WALKED',
 'THROUGH',
 'SCENE',
 'DEVASTATION',
 'THURSDAY',
 'AFTER',
 'STATES',
 'MANY',
 'WILDFIRES',
 'WIPED',
 'MUCH',
 'THEIR',
 'COMMUNITY,',
 'INCLUDING',
 'MOBILE',
 'HOME',
 'PARK,',
 'HOUSES',
 'BUSINESSES.']

## Working with files

In order to work with files we will need a package. A package is a set of commands that are not native to Python but will work once you load the package. This is very similar to how packages work in other langauges, like R.

First we will need to import (or load) the package. If the package isn't already installed in your Python environment, you will need to install it. For now, the package we need is already installed, we just need to activate it.

#### How to Import a Package or Part of a Package (Assuming it is Already Installed on Your System)

* Import a package of useful tools and functions:
    - `import packagename`

* Call a package and abbreviate its name for use in calls to functions from that package
    - `import packagename as abbreviation` 

* Import a specific function from the package (analogously import a class)
    - `from packagename import function`

* Import a specific function from a package and abbreviate its name (analogously import a class)
    - `from packagename import function as abbreviation`

In [371]:
import os

In [ ]:
help(os)

To use a command in a package, we start with the package name, then a period, then the command.

In [378]:
os.getcwd()

'/Users/nanzhang/Downloads/S1D1'

In [382]:
os.chdir("/Users/nanzhang/Downloads/S1D1")

In [384]:
os.getcwd()

'/Users/nanzhang/Downloads/S1D1'

Set the WD back to where your script is. You can copy and paste from where you asked for it the first time.

In [386]:
os.chdir('/Users/nanzhang/Downloads/S1D1')

### Data Analysis with Pandas
Pandas is a very popular package that we can use for data management and analysis. You can import Pandas as we did with OS, though the most common way you will see is importing it with the abbreviation pd as we do below.

In [389]:
import pandas

In [391]:
import pandas as pd

Pandas allows us to read in files like csvs or xlxs (Excel) sheets. There are ways to do this with base Python, but they are more complicated than Pandas. These are just examples. You will get errors if you try to run them because we don't have the actual files in our folders.

In [ ]:
# These will all produce errors because there are no files named these in the folder.

# Read in a comma separated file as a dataframe called df. 
df = pd.read_csv('filename.csv', sep = ',')
df.head() # check the first lines of the read in 
    
# Read in a tab separated file as a dataframe called df. 
df = pd.read_csv('filename.tsv', sep = '\t')
df.head() # check the first lines of the read in     

# Read in a comma separated txt file as a dataframe called df. 
df = pd.read_csv('filename.txt', sep = ',')
df.head()
    
# Read in a tab separated txt file as a dataframe called df. 
df = pd.read_csv('filename.txt', sep = '\t')
df.head()

# Read in an Excel file as a dataframe called df. Specify the Sheet you want.
df = pd.read_excel('filename.xlsx', sheet_name = 'Sheet1')
df.head()

# Read in an Excel file as a dataframe called df. This is a different way than above.
with pd.ExcelFile('filename.xlsx') as xlsx:
        df = pd.read_excel(xlsx, sheet_name = 'Sheet1')
df.head()

Now we will read in an actual file. The syntax for this is pd (or pandas if you didn't abbreviate) .read_csv() with the filename inside of the parenthesis. You can include the seperator using sep =, but the default is a comma.

In [397]:
df = pd.read_csv('sav.csv', sep = ',')

You will likely want to look at the details of the data. Since we saved the object as df we can use different functions to look at what is included in our dataset.

.head() will give us the first 5 rows of our data. It will include the index number, column names, and the values for each column.

In [401]:
df.head()

       id  payatt  changemind  seepol  engagepol
0  100588       1           3       3          3
1  101400       3           4       1          1
2  101437       3           3       1          1
3  101472       2           3       1          2
4  101485       2           1       1          4

We can also use .info() to get the details on our dataset. This will list column names, how many rows have values for each column, and what type of data those values are.

In [404]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2548 entries, 0 to 2547
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          2548 non-null   int64
 1   payatt      2548 non-null   int64
 2   changemind  2548 non-null   int64
 3   seepol      2548 non-null   int64
 4   engagepol   2548 non-null   int64
dtypes: int64(5)
memory usage: 99.7 KB

Another common thing we would check is if there are missing values. We can do that using .isna()

In [407]:
df.isna()

         id  payatt  changemind  seepol  engagepol
0     False   False       False   False      False
1     False   False       False   False      False
2     False   False       False   False      False
3     False   False       False   False      False
4     False   False       False   False      False
...     ...     ...         ...     ...        ...
2543  False   False       False   False      False
2544  False   False       False   False      False
2545  False   False       False   False      False
2546  False   False       False   False      False
2547  False   False       False   False      False

[2548 rows x 5 columns]

However, this will give us the answer for each cell, which isn't very helpful. Instead we can add a subcommand using .isna().any() which will tell us if there are any NAs instead of just showing us the value for each cell.

In [410]:
df.isna().any()

id            False
payatt        False
changemind    False
seepol        False
engagepol     False
dtype: bool

This suggests there are no missing values. That seems unlikely for a survey. We can check the range of values to see is anything seems odd.

In [413]:
df.describe()

                  id       payatt   changemind       seepol    engagepol
count    2548.000000  2548.000000  2548.000000  2548.000000  2548.000000
mean   494863.159733     2.541601     2.981554     2.087520     3.374411
std    279880.362707     4.356628     4.754521     6.145772     8.793152
min     11086.000000     1.000000     1.000000     1.000000     1.000000
25%    243950.250000     2.000000     2.000000     1.000000     2.000000
50%    514139.000000     2.000000     3.000000     1.000000     3.000000
75%    711463.500000     3.000000     4.000000     2.000000     4.000000
max    999828.000000    99.000000    99.000000    99.000000    99.000000

We can see that there are 99s for what is likely our survey variables but the mean is around 2.5 - 3.4, so 99s are probably missing or refused to answer. Let's look at payatt.

In [416]:
df["payatt"].value_counts()

payatt
2     1389
3      579
4      297
1      278
99       5
Name: count, dtype: int64

We can use mask from pandas to change values. Here, we are changing column payatt where a cell equals 99 to NaN. Here we put the command of what we want to change inside the mask function.

In [419]:
df['payatt'].mask(df['payatt']==99, inplace=True)

Now we can check the values for our column.

In [422]:
df["payatt"].value_counts()

payatt
2.0    1389
3.0     579
4.0     297
1.0     278
Name: count, dtype: int64

We can also use other options like >, <, <=, >=, between, etc.

In [425]:
df = pd.read_csv('sav.csv', sep = ',')
df['payatt'].mask(df['payatt'].between(5,99), inplace=True)
df["payatt"].value_counts()

payatt
2.0    1389
3.0     579
4.0     297
1.0     278
Name: count, dtype: int64

The way pandas operates means we have to convert all of our values to floats instead of integers if there are NaN or NAs in our dataset. That is fine for what we are doing, but it is useful to know. This line will give you an error to indicate that as such.

In [433]:
df['payatt'] = df['payatt'].astype('int')

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

We can add or remove data from our object. Here we are going to add a column to the end of the dataset that has 1 for each row.

In [430]:
df['newColumn'] = 1
df.head()

       id  payatt  changemind  seepol  engagepol  newColumn
0  100588     1.0           3       3          3          1
1  101400     3.0           4       1          1          1
2  101437     3.0           3       1          1          1
3  101472     2.0           3       1          2          1
4  101485     2.0           1       1          4          1

Now we are adding another column that has the values 0 through the length of the data, essentially the index.

In [482]:
df['another new'] = range(0,len(df))
df.head()

,psraid,sample,form,int_date,lang,state,cregion,density,usr,pial1a,...,raceos,pial5os,religos,zipcode,weight,standwt,new_column,combined_column,diff_from_mean,another new
0,100009,1,1,21314,1,47,3,3,S,1,...,,,,37412,2.966667,0.909034,default,100009_1,18.357642,0
1,100019,1,1,21314,1,1,3,2,S,1,...,,,,36582,1.133333,0.347272,default,100019_1,-27.642358,1
2,100021,1,2,21314,1,17,2,1,R,,...,,,,61376,2.166667,0.663901,default,100021_1,-11.642358,2
3,100033,1,2,21714,1,24,3,4,S,,...,,,,21093,1.000000,0.306416,default,100033_1,-4.642358,3
4,100034,1,1,21314,1,37,3,4,U,8,...,,,,27616,2.833333,0.868179,default,100034_1,8.357642,4

This code creates a new column that is equal to the values of payatt and changemind added together.

In [ ]:
df['added col'] = df['payatt'] + df['changemind']
df.head()

KeyError: 'payatt'

Adding columns is a common task in data analysis, but recall that we changed some of those payatt values to NaN if they were 99s. Let's see what happened to them wehn we added our values. We are going to use .tail(), which is the opposite of head and gives the last 5 rows, because I know that the last row had a 99 in it.

In [ ]:
df.tail()

To deal with this, we are going to use a slightly complicated set of code. We are making a new column set equal to payatt and changemind, but we are going to fillna using 0s for those values that are NaN in either payatt or changemind. This preserves the NaN values but still lets us make our new addition column.

In [ ]:
df['with na'] = df.fillna(0)['payatt'] + df.fillna(0)['changemind']
df.tail()

Dropping columns isn't sticky, though. As in, you need to save your object to maintain the dropped values.

In [ ]:
df.drop('added col', axis = 1)

In [ ]:
df.head()

In [ ]:
df = df.drop('added col', axis = 1)
df.head()

#### Practice

Read in the csv file salaries.csv, save it as an object (or use your own data file!).

In [490]:
df = pd.read_csv('pewfuture.csv', sep = ',')

Look at the header of the file using head()

In [493]:
print(df.head())

   psraid  sample  form  int_date  lang  state  cregion  density usr pial1a  \
0  100009       1     1     21314     1     47        3        3   S      1
1  100019       1     1     21314     1      1        3        2   S      1
2  100021       1     2     21314     1     17        2        1   R
3  100033       1     2     21714     1     24        3        4   S
4  100034       1     1     21314     1     37        3        4   U      8

   ... reg  party  partyln  ideo  raceos  pial5os  religos  zipcode    weight  \
0  ...   1      1              3                              37412  2.966667
1  ...   1      1              3                              36582  1.133333
2  ...   1      2              5                              61376  2.166667
3  ...   1      3        2     3                              21093  1.000000
4  ...   1      4        9     2                              27616  2.833333

    standwt
0  0.909034
1  0.347272
2  0.663901
3  0.306416
4  0.868179

[5 rows x 51 columns]

How many rows are in the data? How many columns?

In [488]:
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

#Alternitively

print (df.info)

Number of rows: 1001
Number of columns: 55
<bound method DataFrame.info of       psraid  sample  form  int_date  lang  state  cregion  density usr  \
0     100009       1     1     21314     1     47        3        3   S
1     100019       1     1     21314     1      1        3        2   S
2     100021       1     2     21314     1     17        2        1   R
3     100033       1     2     21714     1     24        3        4   S
4     100034       1     1     21314     1     37        3        4   U
...      ...     ...   ...       ...   ...    ...      ...      ...  ..
996   200403       2     1     21714     1      4        4        3   U
997   101152       1     1     21714     1      6        4        5   U
998   201588       2     2     21714     1      6        4        3   U
999   201602       2     1     21714     1     39        2        2   R
1000  200614       2     1     21614     1     36        1        5   U

     pial1a  ... raceos                        pial5os          religos  \
0         1  ...
1         1  ...
2            ...
3            ...
4         8  ...
...     ...  ...    ...                            ...              ...
996       2  ...         TRY TO BE HAPPAY WITH HIMSELF  NATIVE AMERICAN
997       8  ...            VISION RESTORATION IMPLANT
998          ...                          WATER TOWERS
999       2  ...                       WIN THE LOTTERY
1000      1  ...                                  ZZZZ

      zipcode    weight   standwt  new_column  combined_column  \
0       37412  2.966667  0.909034     default         100009_1
1       36582  1.133333  0.347272     default         100019_1
2       61376  2.166667  0.663901     default         100021_1
3       21093  1.000000  0.306416     default         100033_1
4       27616  2.833333  0.868179     default         100034_1
...       ...       ...       ...         ...              ...
996     85008  4.100000  1.256306     default         200403_2
997     94110  1.700000  0.520907     default         101152_1
998     92013  3.166667  0.970318     default         201588_2
999     44004  1.633333  0.500480     default         201602_2
1000    10019  5.766667  1.766999     default         200614_2

      diff_from_mean  another new
0          18.357642            0
1         -27.642358            1
2         -11.642358            2
3          -4.642358            3
4           8.357642            4
...              ...          ...
996       -24.642358          996
997       -22.642358          997
998       -22.642358          998
999        10.357642          999
1000        7.357642         1000

[1001 rows x 55 columns]>

Are there any missing values?

In [469]:
print("Missing values per column:")
print(df.isna().sum())

Missing values per column:
psraid      0
sample      0
form        0
int_date    0
lang        0
state       0
cregion     0
density     0
usr         0
pial1a      0
pial1b      0
pial2a      0
pial2b      0
pial2c      0
pial2d      0
pial2e      0
pial3a      0
pial3b      0
pial3c      0
pial3d      0
pial4a      0
pial4b      0
pial4c      0
pial5       0
relig       0
chr         0
born        0
attend      0
ql1         0
ql1a        0
qc1         0
hh1         0
employ      0
par         0
sex         0
age         0
educ2       0
hisp        0
race        0
inc         0
income      0
reg         0
party       0
partyln     0
ideo        0
raceos      0
pial5os     0
religos     0
zipcode     0
weight      0
standwt     0
dtype: int64

Add a column to your data, set it equal to anything you want.

In [471]:
# Add a new column with arbitrary values
df['new_column'] = 'default'

# Check the first few rows to verify
print(df.head())

   psraid  sample  form  int_date  lang  state  cregion  density usr pial1a  \
0  100009       1     1     21314     1     47        3        3   S      1
1  100019       1     1     21314     1      1        3        2   S      1
2  100021       1     2     21314     1     17        2        1   R
3  100033       1     2     21714     1     24        3        4   S
4  100034       1     1     21314     1     37        3        4   U      8

   ... party  partyln  ideo  raceos  pial5os  religos  zipcode    weight  \
0  ...     1              3                              37412  2.966667
1  ...     1              3                              36582  1.133333
2  ...     2              5                              61376  2.166667
3  ...     3        2     3                              21093  1.000000
4  ...     4        9     2                              27616  2.833333

    standwt  new_column
0  0.909034     default
1  0.347272     default
2  0.663901     default
3  0.306416     default
4  0.868179     default

[5 rows x 52 columns]

Add another column to your data. Make it a combination of two columns.

In [503]:
# Add a new column combining two existing columns
df['combined_column'] = df['party']+ df['ideo']

# Check the first few rows to verify
print(df.head())

   psraid  sample  form  int_date  lang  state  cregion  density usr pial1a  \
0  100009       1     1     21314     1     47        3        3   S      1
1  100019       1     1     21314     1      1        3        2   S      1
2  100021       1     2     21314     1     17        2        1   R
3  100033       1     2     21714     1     24        3        4   S
4  100034       1     1     21314     1     37        3        4   U      8

   ... party  partyln  ideo  raceos  pial5os  religos  zipcode    weight  \
0  ...     1              3                              37412  2.966667
1  ...     1              3                              36582  1.133333
2  ...     2              5                              61376  2.166667
3  ...     3        2     3                              21093  1.000000
4  ...     4        9     2                              27616  2.833333

    standwt  combined_column
0  0.909034                4
1  0.347272                4
2  0.663901                7
3  0.306416                6
4  0.868179                6

[5 rows x 52 columns]

Find the mean of a column using the sum(df['column'] / len df['column']

In [477]:
mean_state = df['state'].sum() / len(df['state'])
print(f"Mean of 'state' column: {mean_state}")

Mean of 'state' column: 28.64235764235764

result_1 = 20 / 3.7
print("20 / 3.7 =", result_1)Now take that mean and subtract it from the values of the column you found it for. Set those new numbers equal to another column.

In [508]:
df['diff_from_mean'] = df['state'] - mean_state

# Check the first few rows to verify
print(df.head())

   psraid  sample  form  int_date  lang  state  cregion  density usr pial1a  \
0  100009       1     1     21314     1     47        3        3   S      1
1  100019       1     1     21314     1      1        3        2   S      1
2  100021       1     2     21314     1     17        2        1   R
3  100033       1     2     21714     1     24        3        4   S
4  100034       1     1     21314     1     37        3        4   U      8

   ... partyln  ideo  raceos  pial5os  religos  zipcode    weight   standwt  \
0  ...             3                              37412  2.966667  0.909034
1  ...             3                              36582  1.133333  0.347272
2  ...             5                              61376  2.166667  0.663901
3  ...       2     3                              21093  1.000000  0.306416
4  ...       9     2                              27616  2.833333  0.868179

   combined_column  diff_from_mean
0                4       18.357642
1                4      -27.642358
2                7      -11.642358
3                6       -4.642358
4                6        8.357642

[5 rows x 53 columns]

### Recap Practice

Do the following math equations.

Divide 20 by 3.7

In [254]:
20 / 3.7

5.405405405405405

Multiply 782 by 472

In [252]:
782 * 472

369104

Add 12 and 98 then divide by 30

In [248]:
(12 + 98) / 30

(12 + 98) / 30 = 3.6666666666666665

Take half of 120, add 82, then divide by 90.

In [250]:
 (120 / 2 + 82) / 90

1.5777777777777777

Multiply 8 and 4 and divide that result by 7 squared. Look up how to square numbers if you don't know how.

In [256]:
(8 * 4) / (7 ** 2)

0.6530612244897959

Make an object equal to 14.

In [258]:
obj_14 = 14

Make an object equal to "Object name"

In [261]:
obj_name = "Object name"

Make an object equal to 4.0

In [264]:
obj_4 = 4.0

Make an object equal to: The child's hand

In [267]:
obj_childs_hand = "The child's hand"

Fix the following code chunks so that they will work by writing the correct code below each line:

In [272]:
new_obj = 453

In [276]:
string = "MSU's students are the best"

In [279]:
obj_4 = 48824

In [287]:
x = 14
if x == 14:
    print("X is equal to 14")

X is equal to 14

In [297]:
x = 14
if x == 14:
    print("X is equal to 14")

X is equal to 14

In [300]:
x = 14
if x <= 14 and x > 12:
    print("X is a good number")

X is a good number

Using an "if" statement, evaluate if x is greater than 10. If it is, print "x is greater".

In [304]:
x = 14
if x > 10:
    print("x is greater")

x is greater

Using an "if" statement, evaluate if x is less than 12912. If it is, print "x is smaller".

In [306]:
if x < 12912:
    print("x is smaller")

x is smaller

Using an "if" statement, evaluate if x is greater than 10. If it is, set the value of x to be 25.

In [308]:
if x > 10:
    x = 25
print("x =", x)

x = 25

Use "if" and "else" to check the following. Is 301931-23411 greater than or equal to 734 x 4. If it is, print "Yup". Otherwise, print "Nope".

In [310]:
if 301931 - 23411 >= 734 * 4:
    print("Yup")
else:
    print("Nope")

Yup

Create two strings. One is equal to your full name, the other is where you were born. Print the two of them together.

In [312]:
full_name = "John Doe"
birth_place = "New York"
print(full_name + birth_place)

John DoeNew York

Now print those two strings but add a space between them.

In [314]:
print(full_name + " " + birth_place)

John Doe New York

BUDGETING EXERCISE

Your rent is \\$1500 a month

Your car payment is \\$200 a month

You spend \\$400 a month on groceries

You want to spend \\$400 a month on fun things

After taxes, you make \\$35,000 a year. Do you have enough money for your budget?

You can answer this a few different ways either using just the numbers or making objects to hold them. Either way, you should use an "if" statement

In [316]:
# Budgeting Exercise
rent = 1500
car_payment = 200
groceries = 400
fun = 400
income = 35000

monthly_expenses = rent + car_payment + groceries + fun
annual_expenses = monthly_expenses * 12

if income >= annual_expenses:
    print("You have enough money for your budget.")
else:
    print("You do not have enough money for your budget.")

You have enough money for your budget.

Create a list with at least 4 items in it. Make at least 1 string, 1 float, and 1 integer

In [318]:
my_list = ["apple", 3.14, 42, "banana"]

Look at the 3rd item in the list using whatever_you_named_your_list[]

In [320]:
print("Third item:", my_list[2])

Third item: 42

Add another item to your list using .append

In [322]:
my_list.append("orange")
print("Updated list:", my_list)

Updated list: ['apple', 3.14, 42, 'banana', 'orange']

Create two lists with 4 items each. All numbers.

In [324]:
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]

Add the 1st item from the first list to the second item in the second list. You will use whatever_you_named_your_list[] to do this.

In [329]:
sum_result = list1[0] + list2[1]
print("Sum of first item from list1 and second item from list2:", sum_result)

Sum of first item from list1 and second item from list2: 21

Create a brand new list with 5 items. They can be anything you want. Then, use a "for" statement to print every item in the list.

In [332]:
new_list = [5, 10, 15, "hello", "world"]
for item in new_list:
    print(item)

5
10
15
hello
world

Use the command below to create a list. Use a "for" statement to print what happens when you add 17 to each item in the list.

In [334]:
myList = [1,4,2,6,7,3,6,2,7,8,41,34,6,12,6,8,423,6,85]
for item in myList:
    print(item + 17)

18
21
19
23
24
20
23
19
24
25
58
51
23
29
23
25
440
23
102

Take the following list and subract 14 from each item on the list. Actually change the values of the list this time.

In [336]:
myList = [1,4,2,6,7,3,6,2,7,8,41,34,6,12,6,8,423,6,85]
for i in range(len(myList)):
    myList[i] -= 14
print("Updated myList:", myList)

Updated myList: [-13, -10, -12, -8, -7, -11, -8, -12, -7, -6, 27, 20, -8, -2, -8, -6, 409, -8, 71]

Using a "for" statement and an "if" statement, evaluate if each of the items in the list are equal to 15. If they are, print "The number is 15". To do this, you will start with a for loop and then "nest" the if statement inside of it.

In [338]:
myList = [15,15,14,231,6124,15,8656,234,15,863,123,0]

for item in myList:
    if item == 15:
        print("The number is 15")

The number is 15
The number is 15
The number is 15
The number is 15