# Communication Arts and Sciences' Data Summer Camp Session One

## Camp Structure
Each day we will have a set list of things we are going to work through. It is hard to predict just how long each thing will take, a lot depending on questions and how many technical issues we run into. If we get done early each session, great! If we go the whole time, that is also great!

Camp is completely optional and come and go as you please. If some content is not as useful for you, of course you do not need to attend that session. However, much of what we do builds off of concepts and code from before. For example, if you miss the session on R basics and come for machine learning, you could easily have a hard time keeping up. You know best what you want to learn and what is most useful for you.

Camp is held over two session. Session One (this one) is three days on Python. This will include how to use Python through Jupyter Lab, basic coding skills, data managment and analysis, visualizations, webscraping, and API usage. Session Two covers similar topics in R.

## Day One
Today, we are going to explore Jupyter a bit and work through some basic commands. Once we have a sense of how to input code and what it does, we will move on to working with datasets through analysis and visualization.

This is a Jupyter notebook. At its basic level, a Jupyter notebook is just a set of commands. It is organized into code "cells" that you can run individually. Each code cell contains a set of commands you want to execute.

#### Code Cells

There are three types of cells in Jupyter: Markdown, Raw, and code.

This is a Markdown cell. Markdown is similar to HTML code in that you can format the text in a variety of different ways. We will not do much in Markdown in this camp, but it is good to understand why this cell does not run any code when you try to. A large percentage of our notebooks are written in Markdown.

This is a raw cell. It doesn't do anything that we need to worry about (it can be used for HTML or Latex code), but like markdown is could be used for adding text to your script.

In [ ]:
# This is a code cell. This is where we actually run Python commands. Note how each three cells look different. 
# To write text in code cell, you need to start with a "#". This is also called commenting.

#### Some Anaconda Shortcuts:

You can quickly add a new code cell by clicking the [] to the left and pressing the "b" key. You cannot have a code cell currently selected for this to work. Similarly, you can delete a code block by pressing "d,d" in the same way you add a code cell.

You can run lines of code using shift+enter which will move to the next line or ctrl+enter, which stays on the line.

I recommend turning on line numbers under "View"

## Basic Python

There are a few different kinds of objects that we can create and use in Python. Similar to other languages, like R, the kind of object dictates its behavior.

- Integers are exactly what they sound like, numbers without decimal points. They are abbreviated Int.
- Floats are integers with decimal points. If you have a float and make it an integer, the decimal disappears.
- Strings are text. They can include numbers, decimals, symbols, whatever. But they cannot be manipulated like numbers.
- Booleans are True or False. They are useful for using if statements and functions.
- Lists, sets, and dictionaries are others which we will cover later.

### Simple Math

In [ ]:
5 + 6

In [ ]:
4 - 3

In [ ]:
18 * 45

In [ ]:
6 / 5

In [ ]:
2**6

In [ ]:
6 / 5 * 5

In [ ]:
6 - 5 / 5

In [ ]:
(6 - 5) / 5

You can save values as objects. 

Objects must be one word (or words combined together with no spaces). A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

They cannot start with numbers or symbols.

In [ ]:
x = 5
xN = 5
X_N = 5
x9 = 5

When you save an object, by default Python will not show you any output. You must "call" the object by typing its name to see what its value is.

In [ ]:
x

It is important to have system for naming objects as Python will override the value of an object without prompting you.

In [ ]:
x = 5
x

In [ ]:
x = 4
x

What we have been working with are integers, or whole numbers. A number with a decimal is called a float. The distinction is important as we will see later.

In [ ]:
y = 5.0

In [ ]:
y

We can use the function type() to check what an object is. Functions like type() have parenthesis where you put the object or thing you want the function run on inside them.

In [ ]:
y = 5.0
type(y)

In [ ]:
x = 5
type(x)

You can also do things with objects. When we save the object y as equal to 5, we can then do things to y as if it is the number 5.

In [ ]:
y = 5
y + 4

In [ ]:
x = 5
y = 6
x * y

In [ ]:
z = y * y
z

#### Practice

Add 5 and 6 together. It can be saved as an object or not.

Create an object called y that is equal to 14 minus 8

Create an object that is the result of 54 divided by 13

Create an object using a combination of letters, numbers, and an underscore. Set that object equal to your age.

### Strings

Strings are just text. To indicate string versus an object or number, you need to use quotations. You can use single or double quotes ('' or "") but they must match. You cannot do ' ", for instance. Pick an approach and try to stick with it if you can. The best practice is double quotes.

In [ ]:
"This is text"

In [ ]:
z = "Go Green!"

In [ ]:
z

In [ ]:
type(z)

When you use quotes, anything inside of them is text, even numbers.

In [ ]:
"5"

In [ ]:
"5" / 5

We can use print() to display objects more like you would see in text files. Compare print(firstName) and firstName

In [ ]:
firstName = "Dan"
lastName = "Rice"

firstName

In [ ]:
print(firstName)

We can use the + sign to concatenate strings together.

In [ ]:
print(firstName + lastName)

Now we can add a space.

In [ ]:
firstName = "Dan"
lastName = "Rice"

print(firstName + " " + lastName)

Print only works on strings. If you have a number and want to print it with a string, you need to tell Python to treat it like a string by putting the number inside of the str() command.

In [ ]:
name = "Dan"
age = 5

print(name + age)

In [ ]:
print(name + str(age))

#### Practice

Create a string that is the name of your department at MSU.

Print a string that says "This is a string"

Save your first and last names as different objects. Then use print to display them. Include a space.

Create three different objects called apples, bananas, and pears. Set them equal to 5, 4, and 7 respectively. Create another object that is equal to the sum of apples, bananas, and pears.

Fix the following code chunks so that they will work by writing the correct code below each line:

In [ ]:
my string = "A practice string"

In [ ]:
msu_words = "Go Green!'

In [ ]:
517zipcode = 48824

## Lists, sets, tuples, and dictionaries

These are essentially containers for things, like numbers, text, or other containers.

Lists can be anything you want. Dictionaries are pairings of key and value, like word and definition in an actual dictionary. Tuples cannot be changed once you set them. Sets are like lists but only allow for unique objects (e.g. you can't have the same name in them twice). We aren't going to spend much time on tuples or sets.

### Lists

In [ ]:
myList = [1,2,3,4,5,6,7,8,9]

In [ ]:
myList

In [ ]:
my_list = ["first item","second item","third item"]

In [ ]:
my_list

We can use len() to see how many items are in our list.

In [ ]:
len(my_list)

Lists are "indexed", which means that each item in the list has a numbered position. In our example we have 3 items so there are three positions. Index numbers start at 0, not 1. So the first item is index 0.

In [ ]:
my_list[0]

In [ ]:
my_list[1]

We can add items to our list using the append function. This is going to look different to the type() function because we are executing the append function on the object list and adding something to it.

In [ ]:
my_list

In [ ]:
my_list.append("fourth item")
my_list

In [ ]:
my_list[1] = "new second item"
print(my_list[1])

In [ ]:
print(my_list)

Running the cell above will keep adding items

We can also remove items by using remove() and the name of the item.

In [ ]:
my_list.remove('first item')
my_list

In [ ]:
print(my_list)
len(my_list)

Lists can also be sorted alphabetically (sequentially) in descending order or ascending.

In [ ]:
my_list.sort()
print(my_list)

In [ ]:
my_list.reverse()
print(my_list)

Just like with strings, we can concatenate lists by using the + sign and the names of the lists. This creates a new list equal to all of the objects in both lists.

In [ ]:
my_list_a = ["A","B","C"]
my_list_b = [1,2,3]
my_list_a + my_list_b

#### Practice

Make a list with at least 4 objects in it. They can be whatever you want.

Find the length of your list.

Create a second list and combine it with your first. Get the new length.

Add an item to the second list you created above.

### Dictionaries

Dictionaries are like lists, but each item in the dictionary has a key and a value associated with it. You can think of these like an actual dictionary where each entry has a word (the key) and a definition (the value). Keys and values can be strings or numbers. Generally your keys will be strings and your values will be numbers, but they don't have to be (and we will use both approaches here).

In [ ]:
myDict = {'key1':'value1', 'key2':'value2'}

In [ ]:
myDict

In [ ]:
myDict = {'key1':67, 'key2':2, 'Dan':'The instructor for the class'}

In [ ]:
myDict

We can also look at just the keys.

In [ ]:
myDict.keys()

Or just the values.

In [ ]:
myDict.values()

Or what are called the items, which is the combination of both.

In [ ]:
myDict.items()

We can also subset our dictionary to get the value for each key. Here we use the name of the dictionary and [] with the name of the key inside of them.

In [ ]:
myDict['key1']

In [ ]:
myDict['key2']

In [ ]:
myDict['Dan']

It is also easy to add items to a dictionary by using a similar looking code.

In [ ]:
myDict['key3'] = 3
myDict

#### Example

Dictionaries can sometimes be hard to conceptualize as useful. Here is an example of a grocery receipt using two dictionaries.

In [ ]:
my_fruit_count = {"apples":0, "lemons":3}
my_fruit_prices = {"apples":1.95, "lemons":1.29}

In [ ]:
my_fruit_count["lemons"]

In [ ]:
my_fruit_prices["lemons"]

In [ ]:
my_fruit_count["lemons"] * my_fruit_prices["lemons"]

In [ ]:
my_fruit_count["watermelons"] = 0

In [ ]:
print(my_fruit_count)

In [ ]:
my_fruit_count["watermelons"] = 5
print(my_fruit_count)

In [ ]:
my_fruit_prices["watermelons"] = 2.50

In [ ]:
my_fruit_count["watermelons"] * my_fruit_prices["watermelons"]

#### Practice

Create a dictionary with at least 3 key, value pairs. They can be whatever you want them to be.

Create another dictionary with 3 key, value pairs. Have the values all be numbers (integers or floats).

Multiply the value of the second key by 14.

Save the result of adding the value of the third key to 12 as an object.

### Tuples

Tuples are just like lists as well, but cannot be changed once they are made. They are more memory efficient than lists, so if you have a very large number of items you want in a container and you know they won't change, a tuple can speed up the process. We will not deal with tuples very much but they are important to know.

In [ ]:
my_tuple = (1,2)

In [ ]:
my_tuple

In [ ]:
my_tuple = ("Monday","Wednesday","Friday")

In [ ]:
my_tuple[1]

In [ ]:
my_tuple[0] = "Sunday"

We can use count() to get the number of times an value appears in our tuple.

In [ ]:
my_tuple.count("Monday")

In [ ]:
my_tuple = ("Monday","Monday","Wednesday","Friday")

In [ ]:
my_tuple.count("Monday")

### Sets

Sets are a container that only allow for one instance of each value. This is great for reducing repeat values in a column or dataset or to do things like word counts or tracking a single participant across a repeated measures study.

Creating a set is sort of like creating a tuple because it uses () but the function is set() to create an empty set. Alternatively, you can use {} with the values inside of it. This is like a dictionary but doesn't have the key,value pairings.

In [ ]:
my_set = set()

In [ ]:
type(my_set)

In [ ]:
mySet = {2, 4, 6, 6, 2, 8}
type(mySet)

Adding items to a set is as simple as using the function .add()

In [ ]:
my_set = set()
my_set.add("Dan")

In [ ]:
print(my_set)

Here we are going to add a number of other items including a duplicated one

In [ ]:
my_set.add("Timmy")
my_set.add("Katrina")
my_set.add("Sally")
my_set.add("Dan")

In [ ]:
print(my_set)

#### Practice

Create an empty set.

Create a set with 5 numbers in it.

Add three numbers and two strings to your set.

### For Loops
We use for loops to iterate through a list of things. This is immensely useful when dealing with large data where you need to do the same thing over and over again.

The form of a loop is: for EACH SOMETHING in NUMEROUS SOMETHINGS: do a thing(s) to each something until you run out of somethings.

For loops can sometimes be a little tricky to understand, so consider the example of our list called my_list that has 4 numbers in it. Let's say we wanted to add print each item in our list. One way to do that is this.

In [ ]:
my_list = [1,2,3,4]
print(my_list[0])
print(my_list[1])
print(my_list[2])
print(my_list[3])

Instead of typing all of that out, we can automate the process by asking Python to run one set of commands on each item in our list sequentially. We do that by using for X in Y: print(X).

The X can be anything you want. It is just a placeholder variable. The Y is the container you are iterating through.

In [ ]:
Y = [1,2,3,4]

In [ ]:
for X in Y:
    print(X)

In [ ]:
my_list = ["First","Second","Third"]
for item in my_list:
    print(item)

In [ ]:
my_list = ["First","Second",4]
for item in my_list:
    print(item)

In [ ]:
my_list = [1,2,3,4]

for i in my_list:
    print(i**2)

For looping with a dictionary is a litte different because of the key,value pairs. Instead of using for X, it needs to be for X1,X2. In addition, we need to call the items from the dictionary using .items().

Just like above, X1 and X2 can be anything you want.

In [ ]:
my_dictionary = {'k1':10, 'k2':20, 'k3':30 }
for X1,X2 in my_dictionary.items():
    print(X1+": "+str(X2))

In [ ]:
my_dictionary = {'k1':10, 'k2':20, 'k3':30 }
for key,value in my_dictionary.items():
    print(key+": "+str(value))

Changing values in a list is a litte more complicated. Instead of for i in list, we need to add two changes.

The first is that we are using the index of the list, so just like a dictionary it is X1,X2 where X1 indicates the index and X2 indicates the iteration.

The second thing we need to change is to enumerate() the list. Enumerate is essentially a count variable of the iteration, starting at 0 and going up 1 each time we go through an iteration. This lets us change the index position that we are updating as you can see below.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list

In [ ]:
for X1,X2 in enumerate(my_list):
    my_list[X1] = X2 + 5
my_list

Consider the following practical example of a list of scores on a survey battery. We had 35 respondents who took our survey and could score between 1 and 15. We want to take the difference between the mean score for all 35 people and their actual score.

In [ ]:
surveyList = [10,6,11,7,14,2,3,8,1,2,7,4,7,4,15,10,15,11,11,6,11,15,11,14,8,7,8,11,7,7,2,5,1,10,15]
surveyList

We can get the mean by taking the sum of the list and dividing it by the lenth of the list. There are other ways to do this, but we aren't that far along yet.

In [ ]:
sum(surveyList) / len(surveyList)

In [ ]:
surveyMean = sum(surveyList) / len(surveyList)
for idx, i in enumerate(surveyList):
    surveyList[idx] = i - surveyMean
surveyList

#### Practice

Create a list of at least 4 items. Write a loop that prints each item individually.

There is code to create a list below. Write a loop that adds each item in the list to the number 5 and prints the result. This does not require changing the number, just printing what it would be

In [ ]:
toAdd = [1,4,7,2,6,9,2,12,-2]

Tricky question: There is an empty list below and a full list. Write a loop that adds each item from the second list to the first.

In [ ]:
firstList = []
secondList = ['a','b','c','d']

### While Loop 
Keeps the loop going as long as a condition is met/hasn't been met.

In [ ]:
x = 5
while x > 0:
    print(x)
    # Make sure to change the condition in some way
    x = x-1

### If/Else

If statements are a common way of evaluating conditions. They are structured if SOMETHING is (greater than, less than, equal to, not equal to) SOMETHING ELSE, then do something.

For instance:

In [ ]:
x = 22

if x < 6:
    print("Hooray")

In [ ]:
if x > 14:
    print("greater than 14")

In [ ]:
if x < 6:
    print("YaY")

In [ ]:
x = 4

if x < 4:
    print("Hooray")

In [ ]:
x = 75

if x == 75:
    print("X is 75")

We can add two sub-commands to expand our if options. Else will execute if the if statement is evaluated as false. So if x is greater than 5, print something but if it is not greater than 5, print something else.

In [ ]:
x = 4
if x > 5:
    print("X is Amazing!")
else:
    print("Y is pretty cool too")

In [ ]:
x = 4
if x >= 4:
    print("4")
else:
    print("45")

We can also use elif, which is like a secondary if. You can think of it as "if the previous conditions were not true, then try this condition".

In [ ]:
x = 15
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
if x > 5:
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

Finally, we can combine statements to include multiple conditions using and.

In [ ]:
x = 6
y = 12
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 1
y = 12
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

In [ ]:
x = 6
y = 16
if (x > 5 and y < 15):
    print("X is Amazing!")
elif x < 2:
    print("Y is pretty cool too")
else: 
    print("This class is great!")

### Practice

Write an if statement that checks if x is greater than 1204. If it is, print a message.

In [ ]:
x = 5234

Write an if/else statement that checks if x is less than 341. If yes, print a message, if not print a different message.

In [ ]:
x = 22 * 15

Using if/else/elif, print a message if x is greater than 55, a different one if it is less than 55, and a final one if it is equal to 55.

In [ ]:
x = 24 - 9 + 12 * 4 - 8

### Example using text

We are going to do a little text analysis. Below we are creating an object that is the first part of a news article. We can then print it to see what it looks like.

In [ ]:
my_article = "Stunned residents of the small Oregon town of Phoenix walked through a scene of devastation Thursday after one of the states many wildfires wiped out much of their community, including a mobile home park, houses and businesses."

In [ ]:
print(my_article)

Next we are going to split the article into a list of each word. We use split() for this.

In [ ]:
my_article_split = my_article.split()

Printing that list give us this. Note that commas are included in the word they are next to.

In [ ]:
print(my_article_split)

The length is 37 words long.

In [ ]:
len(my_article_split)

We can use for loops and if statements to look at words that are over 4 characters long.

In [ ]:
for word in my_article_split:
    if len(word) > 4:
        print(word)

Or use a for loop to print each word in lowercase.

In [ ]:
for item in my_article_split:
    print(item.lower())

Storing within a separate list and defining list outside of loop

In [ ]:
my_word_list = []
print(my_word_list)

In [ ]:
for word in my_article_split:
    if len(word) > 3:
        my_word_list.append(word.upper())
    #print(my_word_list)
len(my_word_list)

In [ ]:
my_word_list

## Working with files

In order to work with files we will need a package. A package is a set of commands that are not native to Python but will work once you load the package. This is very similar to how packages work in other langauges, like R.

First we will need to import (or load) the package. If the package isn't already installed in your Python environment, you will need to install it. For now, the package we need is already installed, we just need to activate it.

#### How to Import a Package or Part of a Package (Assuming it is Already Installed on Your System)

* Import a package of useful tools and functions:
    - `import packagename`

* Call a package and abbreviate its name for use in calls to functions from that package
    - `import packagename as abbreviation` 

* Import a specific function from the package (analogously import a class)
    - `from packagename import function`

* Import a specific function from a package and abbreviate its name (analogously import a class)
    - `from packagename import function as abbreviation`

In [ ]:
import os

In [ ]:
help(os)

To use a command in a package, we start with the package name, then a period, then the command.

In [ ]:
os.getcwd()

In [ ]:
os.chdir("/Users/dhrice/Desktop")

In [ ]:
os.getcwd()

Set the WD back to where your script is. You can copy and paste from where you asked for it the first time.

In [ ]:
os.chdir('/Users/dhrice/Dropbox/Teaching/summer data camp/scripts')

### Data Analysis with Pandas
Pandas is a very popular package that we can use for data management and analysis. You can import Pandas as we did with OS, though the most common way you will see is importing it with the abbreviation pd as we do below.

In [ ]:
import pandas

In [ ]:
import pandas as pd

Pandas allows us to read in files like csvs or xlxs (Excel) sheets. There are ways to do this with base Python, but they are more complicated than Pandas. These are just examples. You will get errors if you try to run them because we don't have the actual files in our folders.

In [ ]:
# These will all produce errors because there are no files named these in the folder.

# Read in a comma separated file as a dataframe called df. 
df = pd.read_csv('filename.csv', sep = ',')
df.head() # check the first lines of the read in 
    
# Read in a tab separated file as a dataframe called df. 
df = pd.read_csv('filename.tsv', sep = '\t')
df.head() # check the first lines of the read in     

# Read in a comma separated txt file as a dataframe called df. 
df = pd.read_csv('filename.txt', sep = ',')
df.head()
    
# Read in a tab separated txt file as a dataframe called df. 
df = pd.read_csv('filename.txt', sep = '\t')
df.head()

# Read in an Excel file as a dataframe called df. Specify the Sheet you want.
df = pd.read_excel('filename.xlsx', sheet_name = 'Sheet1')
df.head()

# Read in an Excel file as a dataframe called df. This is a different way than above.
with pd.ExcelFile('filename.xlsx') as xlsx:
        df = pd.read_excel(xlsx, sheet_name = 'Sheet1')
df.head()

Now we will read in an actual file. The syntax for this is pd (or pandas if you didn't abbreviate) .read_csv() with the filename inside of the parenthesis. You can include the seperator using sep =, but the default is a comma.

In [ ]:
df = pd.read_csv('sav.csv', sep = ',')

You will likely want to look at the details of the data. Since we saved the object as df we can use different functions to look at what is included in our dataset.

.head() will give us the first 5 rows of our data. It will include the index number, column names, and the values for each column.

In [ ]:
df.head()

We can also use .info() to get the details on our dataset. This will list column names, how many rows have values for each column, and what type of data those values are.

In [ ]:
df.info()

Another common thing we would check is if there are missing values. We can do that using .isna()

In [ ]:
df.isna()

However, this will give us the answer for each cell, which isn't very helpful. Instead we can add a subcommand using .isna().any() which will tell us if there are any NAs instead of just showing us the value for each cell.

In [ ]:
df.isna().any()

This suggests there are no missing values. That seems unlikely for a survey. We can check the range of values to see is anything seems odd.

In [ ]:
df.describe()

We can see that there are 99s for what is likely our survey variables but the mean is around 2.5 - 3.4, so 99s are probably missing or refused to answer. Let's look at payatt.

In [ ]:
df["payatt"].value_counts()

We can use mask from pandas to change values. Here, we are changing column payatt where a cell equals 99 to NaN. Here we put the command of what we want to change inside the mask function.

In [ ]:
df['payatt'].mask(df['payatt']==99, inplace=True)

Now we can check the values for our column.

In [ ]:
df["payatt"].value_counts()

We can also use other options like >, <, <=, >=, between, etc.

In [ ]:
df = pd.read_csv('sav.csv', sep = ',')
df['payatt'].mask(df['payatt'].between(5,99), inplace=True)
df["payatt"].value_counts()

The way pandas operates means we have to convert all of our values to floats instead of integers if there are NaN or NAs in our dataset. That is fine for what we are doing, but it is useful to know. This line will give you an error to indicate that as such.

In [ ]:
df['payatt'] = df['payatt'].astype('int')

We can add or remove data from our object. Here we are going to add a column to the end of the dataset that has 1 for each row.

In [ ]:
df['newColumn'] = 1
df.head()

Now we are adding another column that has the values 0 through the length of the data, essentially the index.

In [ ]:
df['another new'] = range(0,len(df))
df.head()

This code creates a new column that is equal to the values of payatt and changemind added together.

In [ ]:
df['added col'] = df['payatt'] + df['changemind']
df.head()

Adding columns is a common task in data analysis, but recall that we changed some of those payatt values to NaN if they were 99s. Let's see what happened to them wehn we added our values. We are going to use .tail(), which is the opposite of head and gives the last 5 rows, because I know that the last row had a 99 in it.

In [ ]:
df.tail()

To deal with this, we are going to use a slightly complicated set of code. We are making a new column set equal to payatt and changemind, but we are going to fillna using 0s for those values that are NaN in either payatt or changemind. This preserves the NaN values but still lets us make our new addition column.

In [ ]:
df['with na'] = df.fillna(0)['payatt'] + df.fillna(0)['changemind']
df.tail()

Dropping columns isn't sticky, though. As in, you need to save your object to maintain the dropped values.

In [ ]:
df.drop('added col', axis = 1)

In [ ]:
df.head()

In [ ]:
df = df.drop('added col', axis = 1)
df.head()

#### Practice

Read in the csv file salaries.csv, save it as an object (or use your own data file!).

In [ ]:
df = pd.read_csv('pewfuture.csv', sep = ',')

Look at the header of the file using head()

How many rows are in the data? How many columns?

Are there any missing values?

Add a column to your data, set it equal to anything you want.

Add another column to your data. Make it a combination of two columns.

Find the mean of a column using the sum(df['column'] / len df['column']

Now take that mean and subtract it from the values of the column you found it for. Set those new numbers equal to another column.

### Recap Practice

Do the following math equations.

Divide 20 by 3.7

Multiply 782 by 472

Add 12 and 98 then divide by 30

Take half of 120, add 82, then divide by 90.

Multiply 8 and 4 and divide that result by 7 squared. Look up how to square numbers if you don't know how.

Make an object equal to 14.

Make an object equal to "Object name"

Make an object equal to 4.0

Make an object equal to: The child's hand

Fix the following code chunks so that they will work by writing the correct code below each line:

In [ ]:
new Obj = 453

In [ ]:
string = 'MSU's students are the best'

In [ ]:
4obj = 48824

In [ ]:
x = 25
if x >= 26:
print("X is the bigger number")

In [ ]:
x = 14
if x == 14:
    print(X is equal to 14)

In [ ]:
x = 14

if x <= 14 and x > 12
    print("X is a good number")

Using an "if" statement, evaluate if x is greater than 10. If it is, print "x is greater".

Using an "if" statement, evaluate if x is less than 12912. If it is, print "x is smaller".

Using an "if" statement, evaluate if x is greater than 10. If it is, set the value of x to be 25.

Use "if" and "else" to check the following. Is 301931-23411 greater than or equal to 734 x 4. If it is, print "Yup". Otherwise, print "Nope".

Create two strings. One is equal to your full name, the other is where you were born. Print the two of them together.

Now print those two strings but add a space between them.

BUDGETING EXERCISE

Your rent is \\$1500 a month

Your car payment is \\$200 a month

You spend \\$400 a month on groceries

You want to spend \\$400 a month on fun things

After taxes, you make \\$35,000 a year. Do you have enough money for your budget?

You can answer this a few different ways either using just the numbers or making objects to hold them. Either way, you should use an "if" statement

Create a list with at least 4 items in it. Make at least 1 string, 1 float, and 1 integer

Look at the 3rd item in the list using whatever_you_named_your_list[]

Add another item to your list using .append

Create two lists with 4 items each. All numbers.

Add the 1st item from the first list to the second item in the second list. You will use whatever_you_named_your_list[] to do this.

Create a brand new list with 5 items. They can be anything you want. Then, use a "for" statement to print every item in the list.

Use the command below to create a list. Use a "for" statement to print what happens when you add 17 to each item in the list.

In [ ]:
myList = [1,4,2,6,7,3,6,2,7,8,41,34,6,12,6,8,423,6,85]

Take the following list and subract 14 from each item on the list. Actually change the values of the list this time.

In [ ]:
myList = [1,4,2,6,7,3,6,2,7,8,41,34,6,12,6,8,423,6,85]

Using a "for" statement and an "if" statement, evaluate if each of the items in the list are equal to 15. If they are, print "The number is 15". To do this, you will start with a for loop and then "nest" the if statement inside of it.

In [ ]:
myList = [15,15,14,231,6124,15,8656,234,15,863,123,0]