# Communication Arts and Sciences' Data Summer Camp Session One

## Day Two
Today, we are going to spend time analyzing data and creating visualizations. We will be working with both numeric data and strings. The datasets are included in the folder that this script is in. You can use your own datasets, but will need to change column names and other parts of the code to keep up.

### Data Analysis

First, we are going to read out dataset into out Python environment. We are going to be using pandas for this, like we did yesterday. That requires us to import pandas and then read in our csv file.

In [ ]:
import pandas as pd

This dataset is fuel economy and emissions data for ~600,000 cars in the EU. It has the onboard fuel consumption and co2 emissions (ob) compared to the tested measure of fuel economy and co2 emissions (wl).

In [ ]:
df = pd.read_csv("caremissions.csv")

Let's look at the first few rows to see what we are dealing with.

In [ ]:
df.head()

Info will tell us about our data.

In [ ]:
df.info()

Now we can do some things with our data. First let's look at "fuel". By subsetting our data by just the column we want we can see a truncated version of all of the values in the column.

In [ ]:
df['fuel']

We can use value_counts() to get a better idea of what is actually in the column.

In [ ]:
df['fuel'].value_counts()

If we use value_counts() on another column we will get a truncated view of what is there. You can adjust settings in pandas if you want to see everything. We won't do that here.

In [ ]:
df['ob fuel'].value_counts()

You can also convert the column into what is called a numpy array.

In [ ]:
df['ob fuel'].to_numpy()

Next we calculate some means, in this case "ob co2". We are using the mean function from pandas which is different than what we were doing before with sum and len.

To get the mean, we subset the dataframe by the column we want to look at and then ask for the mean.

In [ ]:
meanOBCO2 = df["ob co2"].mean()
meanOBCO2

By default, the mean functon will give us a lot of significant digits, which we can reduce if we want. We are going to use round() which includes a subcommand of digits. By default it gets rid of everything after the decimal.

In [ ]:
round(meanOBCO2)

We can change the number of digits we want by adding a comma and the number after the object we are rounding.

In [ ]:
round(meanOBCO2, 3)

You can get statistics for just about anything you can think of. Median is just as straightforward as mean.

In [ ]:
df["ob co2"].median()

Mode returns an indexed list since we can have more than one mode. We could subset that using the second code.

In [ ]:
df["fuel"].mode()

In [ ]:
df["fuel"].mode()[0]

We can get dataframe means or a few columns worth of means. Dataframes will often give us a warning if there are strings in the columns, but will still produce an answer for what it can.

In [ ]:
df.mean()

If we want to look at multiple means or medians, we need to put them in a list and then ask for the statistic. Note the list ["ob fuel","wl fuel"] is inside of the [].mean()

In [ ]:
df[["ob fuel","wl fuel"]].mean()

Other statistics we could look at are correlations or covariances (and many others).

In [ ]:
df[["ob fuel","wl fuel"]].corr()

In [ ]:
df[["ob fuel","wl fuel"]].cov()

In [ ]:
df[["ob fuel","wl fuel"]].std()

#### Practice

What is the mean of 'wl co2'?

Does wl co2 or ob co2 have the higher median?

What is the ratio of gap fuel and gap co2 (gap fuel/gap co2) for each row? Create a new column with this answer. Check yesterday's script if you don't know how to do this.

What is the correlation between ob fuel and ob co2?

### Data Manipulation

This section covers subsetting data and finding values. First we want to look at how to subset if rows equal specific values, here we are just looking at KIA cars. We use loc[] and set the column with the values we care about equal to that value.

In [ ]:
df.loc[df['company'] == "KIA"]

This gives us three listings for KIA. We can also make that a new dataset if we want.

In [ ]:
kiaDF = df.loc[df['company'] == "KIA"]
kiaDF

We can also combine conditions. Use & for and. Use | for or. Be sure to isolate your conditions inside () to avoid confusion and errors.

In [ ]:
newDF = df.loc[(df['company'] == "KIA") | (df['company'] == "VOLVO")]
newDF

Similarly, we can subset for values greater than or less than something. Here I am going to put the median ob co2 as my criteria and look at those cars that are higher than the median ob co2.

In [ ]:
highCO2 = df.loc[df['ob co2'] > 200]
highCO2

In [ ]:
highCO2 = df.loc[df['ob co2'] > df['ob co2'].median()]
print(len(highCO2))

In [ ]:
highCO2

Another common task is figuring out where the maximum or minimum values are for columns. We can use idxmax() and idxmin() to get the index position of these.

In [ ]:
df['gap co2'].idxmax()

In [ ]:
df['gap co2'].idxmin()

What this tells us is that row 74 (the 73 index position since they start at 0) has the highest gap in co2 measurements and row 59 has the lowest. That is nice but not super helpful. We can use loc like we did above to isolate the actual number.

In [ ]:
df.loc[df['gap co2'].idxmax(),'gap co2']

In [ ]:
df.loc[df['gap co2'].idxmin(),'gap co2']

We can also use this to subset the data for what row has this value by putting in the row (73) in df.loc[].

In [ ]:
df.loc[73]

Finally, we can subset to just some columns. If we just want one column, simply do a subset like we have been.

In [ ]:
df2 = df['company']
df2

If you want more than one, you will need to subset a *list* of columns like so.

In [ ]:
df3 = df[['company','number']]
df3

#### Practice

Look at the results for Ford cars in the data. You may need to look at value_counts to see how Ford is listed in the dataset.

Create a new dataset for just Volvo cars.

Create a new dataset for just diesel cars.

What is the median onboard (ob) fuel economy for PETROL/ELECTRIC vehicles? There are a few different ways to do this.

What row has the smallest gap in fuel economy?

What company is this?

### Basic Data Handling with Pandas

We are going to use a new dataset to look at some additional things that might come up in your own work. This is basketball contracts from Basketball-Reference: https://www.basketball-reference.com/contracts/players.html

In [ ]:
import pandas as pd
df = pd.read_csv('salaries.csv')
df.head()

We can also get a list of the columns in the dataframe.

In [ ]:
for i in df:
    print(i)

In [ ]:
df.info()

Looking at the info we see that almost all of the columns are objects, meaning text. That doesn't really help us for doing any sort of quantitative analysis.

We are going to convert the text in these columns to numbers. First we are going to do it for one column. We need to remove both the $ and the , from the contract values. To do so, we are going to use str.replace and then make the strong a float.

In [ ]:
df['2023-24'] = df['2023-24'].str.replace('$', '').str.replace(',', '').astype(float)
df

That was useful, but we have more columns to do. If we think of our columns as a list, we could then use a for loop to automate the process.

In [ ]:
salary_cols = ['2024-25', '2025-26', '2026-27', '2027-28', '2028-29']
for col in salary_cols:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)
df.head()

Let's say we don't like the way our columns are named right now. We can replace those names with new ones either by making a new dataframe or by replacing them in the existing one.

In [ ]:
df2 = df.rename(columns={'2023-24': '2023', '2024-25': '2024'})
df2

In [ ]:
df.rename(columns={'2023-24': '2023', '2024-25': '2024'}, inplace=True)
df

We are going to start over with a fresh dataset for the next steps.

In [ ]:
df = pd.read_csv('salaries.csv')
salary_cols = ['2023-24','2024-25', '2025-26', '2026-27', '2027-28', '2028-29']
for col in salary_cols:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)
df.head()

So now we can use describe and get detailed stats about our columns. Yours may appear with scientific notation. That might not be what you want, like here.

In [ ]:
df.describe()

To fix that, we set options inside of pandas using the code below. You don't strictly need to know what its components are, you can just copy and paste it as needed (that is what I do).

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

So let's try that again.

In [ ]:
df.describe()

What about the mean salary for 2023-24? Here we are adding some text and then the maximum for this year's salaries.

In [ ]:
print("Highest salary for 2023-24:", df['2023-24'].max())

What is the average salary for each season? This code is a little different because we use an f-string in our print. An f-string allows you to put a variable or object inside of a {}. We can then use our for loop to print our answers.

In [ ]:
salary_cols = ['2023-24', '2024-25', '2025-26', '2026-27', '2027-28', '2028-29']
for col in salary_cols:
    print(f"Average salary for {col}:",round(df[col].mean()))

#### Practice

Import the salaries csv file again so it is fresh.

How many players have contracts with each team? As in, how many times does each team appear in the data?

Run this code.

In [ ]:
salary_cols = ['2024-25', '2025-26', '2026-27', '2027-28', '2028-29']
for col in salary_cols:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)

What is the mean salary in 2025-26?

Who has the highest guaranteed salary?

Tricky: create a new data frame that is just Rk, Player, Tm, Guaranteed. Hint, you will use a list to subset.

### Merging Data

Merging data is an incredibly common thing you will need to do when working with data. Python handles this in a variety of ways depending on how you need to merge. It is important that you understanding if you need a many to one, many to many, inner join, outer join, etc.

This example is a many to one, as in merging observations that share a common variable.

In [ ]:
import pandas as pd
df1 = pd.DataFrame({'key': ['a1','a2','a3','b1','b2','b3'], 'data1': range(6)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['a1','b1','b2'], 'data2': range(3)})
df2

In [ ]:
df = pd.merge(df1,df2)
df

Another example

In [ ]:
df1 = pd.DataFrame({'key': ['var1','var2','var23','var4'], 'data1': range(4)})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['var1','var3','var16'], 'data2': ['tree','hat',12]})
df2

In [ ]:
df = pd.merge(df1,df2)
df

Python defaults to using a commonly shared column to merge if there is one. Above the commonly shared columns were key. If there isn't, you will get an error.

In [ ]:
df3 = pd.DataFrame({'lkey': ['a1','a2','a3','b1','b2','b3','c1'], 'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a1','b2','c1'], 'data2': range(3)})

In [ ]:
pd.merge(df3,df4, on = 'key')

The way to deal with this is to specify which column you want to merge on. left is the first df specified, right is the second.

In [ ]:
pd.merge(df3,df4, left_on = 'lkey', right_on='rkey')

Another example.

In [ ]:
df5 = pd.DataFrame({'lkey': [16,15,65,'b1',12,'b3',99], 'data1': range(7)})
df6 = pd.DataFrame({'rkey': [16,'b1','c1'], 'data2': range(3)})
print(df5)
print(df6)

In [ ]:
pd.merge(df5,df6, left_on = 'lkey', right_on='rkey')

What we have been doing are inner joins. That means we lose non-shared data. We can specify as outer to include all variables.

In [ ]:
df3 = pd.DataFrame({'lkey': ['a1','a2','a3','b1','b2','b3','c1'], 'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a1','b2','c1'], 'data2': range(3)})
print(df3)
print(df4)
df5 = pd.merge(df3,df4, left_on = 'lkey', right_on='rkey', how = 'outer')
df5

We can also combine dataframes into one without merging observations. In order to do that, we need to have two dataframes and put them in a list. Then use concat on that list.

In [ ]:
df1 = pd.DataFrame(
    {"A": ["A0", "A1"],
    "B": ["B0", "B1"],},
    index=[0, 1],)

df2 = pd.DataFrame(
    {"A": ["A4", "A5"],
     "B": ["B4", "B5"],},
    index=[2, 3],)

In [ ]:
df1

In [ ]:
df2

In [ ]:
mergelist = [df1,df2]
mergelist

In [ ]:
pd.concat(mergelist)

Another longer example

In [ ]:
df1 = pd.DataFrame(
    {"A": ["A0", "A1", "A2", "A3"],
    "B": ["B0", "B1", "B2", "B3"],
    "C": ["C0", "C1", "C2", "C3"],
    "D": ["D0", "D1", "D2", "D3"],},
    index=[0, 1, 2, 3],)

df2 = pd.DataFrame(
    {"A": ["A4", "A5", "A6", "A7"],
     "B": ["B4", "B5", "B6", "B7"],
     "C": ["C4", "C5", "C6", "C7"],
     "D": ["D4", "D5", "D6", "D7"],},
    index=[4, 5, 6, 7],)

df3 = pd.DataFrame(
    {"A": ["A8", "A9", "A10", "A11"],
     "B": ["B8", "B9", "B10", "B11"],
     "C": ["C8", "C9", "C10", "C11"],
     "D": ["D8", "D9", "D10", "D11"],},
    index=[8, 9, 10, 11],)

frames = [df1, df2, df3]

result = pd.concat(frames)
result

#### Practice

Merge these datasets using an inner join.

In [ ]:
df1 = pd.DataFrame({'key': ['hat','tree','sing','var4'], 'data1': range(4)})
df2 = pd.DataFrame({'key': ['pecans','var2','tree','var4'], 'data1': range(4)})

Merge these datasets using an outer join.

In [ ]:
df1 = pd.DataFrame({'key1': ['hat','tree','sing','var4'], 'data1': range(4)})
df2 = pd.DataFrame({'key': ['pecans','var2','tree','var4'], 'data1': range(4)})

Concatenate these two datasets.

In [ ]:
df1 = pd.DataFrame({'key1': ['hat','tree','sing','var4'], 'data1': range(4)})
df2 = pd.DataFrame({'key': ['pecans','var2','tree','var4'], 'data1': range(4)})

### Grouping

Another common tool we use is grouping, as in grouping by values in a column. First read in our dataset for NBA salaries and fix the columns.

In [ ]:
import pandas as pd
df = pd.read_csv('salaries.csv')
salary_cols = ['2023-24','2024-25', '2025-26', '2026-27', '2027-28', '2028-29','Guaranteed']
for col in salary_cols:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)
df.head()

Grouping involves some combination of splitting the data, applying a funtion to that smaller data, and then looking at the results. Here we are going to look at our dataframe grouped by the team for the current season.

In [ ]:
grouped = df.groupby('Tm')['2023-24'].mean()

print(grouped)

Another example. Guaranteed money by team.

In [ ]:
total_guaranteed = df.groupby('Tm')['Guaranteed'].sum()
print(total_guaranteed)

Or number of players

In [ ]:
player_counts = df.groupby('Tm')['Player'].count()
print(player_counts)

#### Modeling in Python
We are going to do a little basic modeling in Python using regression. First we need a package to run our OLS.

In [ ]:
import statsmodels.formula.api as smf
import pandas as pd

In [ ]:
df = pd.read_csv('sav.csv', sep = ',', dtype={0:'int'})
df.head()

In [ ]:
df.mask(df==99, inplace=True)
df.tail()

We will use smf.ols() to run our regression. The code is pretty similar to what you might use in R. You specify your DV as predicted (using ~) by your IV(s). Then you specify which dataframe you want the model to pull from.

In [ ]:
smf.ols('payatt ~ changemind + seepol', data=df).fit().summary()

In [ ]:
results = smf.ols('payatt ~ changemind + seepol', data=df).fit()
results.summary()

We can also save our results and output them. The code for this is a little complicated, but all you really need to change is the file name and extension (summary.txt/csv/etc.)

In [ ]:
with open('summary.txt', 'w') as fh:
    fh.write(results.summary().as_text())

In [ ]:
with open('summary.csv', 'w') as fh:
    fh.write(results.summary().as_csv())

### Plotting

We will use matplotlib to plot some of our data. There is a LOT you can do here, so we are going to talk about the basics to get you started.

We are going to use some example data to start and show the basics of plotting and changing labels. The example data is strictly to show what a plot looks like and its syntax, don't worry too much about how we made it.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

x = np.linspace(0, 3, 100)  # Sample data. 100 roughly evenly spaced observations between 0 and 3
x

In [ ]:
y = np.linspace(2, 5, 100) 
y

Now that we have our x and y, we use plt.plot() to plot them

In [ ]:
plt.plot(x, y)

That is a pretty basic graphic. We can start to add more to it if we want. First a legend. It requires the plot to have a label and then plt.legend() to create the legend.

In [ ]:
plt.plot(x, x, label='linear')
plt.legend()

Next we can add a title.

In [ ]:
plt.plot(x, x, label='linear')
plt.title("Simple Plot Title")

And x and y axis labels.

In [ ]:
plt.plot(x, x, label='linear')
plt.xlabel('x label')
plt.ylabel('y label')
plt.title("Simple Plot Title")

We can also add more plots to our image

In [ ]:
plt.plot(x, x, label='linear')
plt.plot(x, x**2, label='quadratic')
plt.plot(x, x**3, label='cubic')

Putting it all together. We also add figure which allows us to edit and save the object as well as plt.show which is not strictly necessary here but is a good habit to get into.

In [ ]:
plt.figure(figsize=(8, 4), layout='constrained')
plt.plot(x, x, label='linear')
plt.plot(x, x**2, label='quadratic')
plt.plot(x, x**3, label='cubic')
plt.xlabel('x label')
plt.ylabel('y label')
plt.title("Simple Plot Title")
plt.legend()
plt.show()

More plotting by changing the markers

In [ ]:
x = np.random.randint(1, 300, size=200)

plt.figure(figsize=(8, 4), layout='constrained')
plt.plot(x, 'o')
plt.show()

Practice by changing the marker by using any of these: https://matplotlib.org/stable/api/markers_api.html

For a challenge, also change the color to something from here: https://matplotlib.org/2.1.1/api/_as_gen/matplotlib.pyplot.plot.html

In [ ]:
x = np.linspace(0,600)
y = np.linspace(0,1500)

plt.figure(figsize=(8, 4), layout='constrained')
plt.plot(x,y, "b--")
plt.show()

#### Practice

Run this code

In [ ]:
df = pd.read_csv('sav.csv', sep = ',', dtype={0:'int'})
df.mask(df==99, inplace=True)
df.head()

Plot payatt as x and change mind as y.

Create a new column that is payatt plus changemind plus seepol plus engagepol all divided by 4.

Plot seepol as x and engagepol as y. Then add your new column as x and payatt as y. Add a title. Add x and y labels and a legend.

#### More Plotting
This is a histogram

In [ ]:
plt.hist(df['payatt'])
plt.show()

Categorical plotting involes plotting the values of not strictly numeric data.

In [ ]:
names = ['group_a', 'group_b', 'group_c']
values = [1, 10, 100]

This is a barplot

In [ ]:
plt.figure(figsize=(9, 3))
plt.bar(names,values)
plt.show()

A scatter plot (also used for numerica data)

In [ ]:
plt.scatter(names, values)

A line plot

In [ ]:
plt.plot(names, values)

#### Plotting salaries

We are going to bring back in our salary data and replace the $ and , in it

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('salaries.csv')
salary_cols = ['2023-24','2024-25', '2025-26', '2026-27', '2027-28', '2028-29']
for col in salary_cols:
    df[col] = df[col].str.replace('$', '').str.replace(',', '').astype(float)
df.head()

Let's look at average salaries per season. Here we are using the same salary_cols as before. I am going to show an alternative way of doing a for loop. This is different and can be tricky so we won't spend much time on it, but it is the same as for i in xxxx.

In [ ]:
salary_cols = ['2023-24','2024-25', '2025-26', '2026-27', '2027-28', '2028-29']

average_salaries = [df[col].dropna().mean() for col in salary_cols]
average_salaries

Now we plot.

In [ ]:
plt.figure(figsize=(10, 5))
plt.plot(salary_cols, average_salaries, marker='o')
plt.title('Average NBA Salary Per Season')
plt.xlabel('Season')
plt.ylabel('Average Salary ($)')
plt.grid(True)
plt.show()

Now we want to calculate the total salary commitments per team for the 2023-24 season. We did this above so it is just repetition.

In [ ]:
total_salaries = df.groupby('Tm')['2023-24'].sum()
print(total_salaries)

But now we know that we can plot it. This is a slightly different code that creates a barplot from our grouped data.

In [ ]:
total_salaries.plot(kind='bar')
plt.title('Total Salaries per Team for 2023-24')
plt.xlabel('Team')
plt.ylabel('Total Salary ($)')
plt.show()

Or what about per year?

In [ ]:
average_salaries_2023 = df.groupby('Tm')['2023-24'].mean()

average_salaries_2023.plot(kind='bar', title='Average Salary per Team for 2023-24', figsize=(10, 5))
plt.xlabel('Team')
plt.ylabel('Average Salary ($)')
plt.show()

Or potentially all years?

In [ ]:
as23 = df.groupby('Tm')['2023-24'].mean()
as24 = df.groupby('Tm')['2024-25'].mean()
as25 = df.groupby('Tm')['2025-26'].mean()
as26 = df.groupby('Tm')['2026-27'].mean()
as27 = df.groupby('Tm')['2027-28'].mean()
as28 = df.groupby('Tm')['2028-29'].mean()

This next set is rather complicated so we will take it in steps.

First we create our figure. We are familiar with figsize, but we are also adding plt.subplots(2,3). This tells pythong to make a plot with 2 rows and 3 columns.

Next we create each plot using the axs (or axis) command and then the bar plot call from earlier. We use the as23.index as our x and as23 as our height (and so on).

The axs positons are row and column. So row 0, column 0 - 1 - 2, then row 1, column 0 - 1 - 1.

The last line changes the rotation of the x axis labels

In [ ]:
fig, axs = plt.subplots(2, 3, figsize=(28, 21))

axs[0, 0].bar(as23.index, as23)
axs[0, 0].set_title('2023-24')
axs[0, 0].set_xticklabels(as23.index, rotation=90)

axs[0, 1].bar(as24.index, as24)
axs[0, 1].set_title('2024-25')
axs[0, 1].set_xticklabels(as24.index, rotation=90)

axs[0, 2].bar(as25.index, as25)
axs[0, 2].set_title('2025-26')
axs[0, 2].set_xticklabels(as25.index, rotation=90)

axs[1, 0].bar(as26.index, as26)
axs[1, 0].set_title('2026-27')
axs[1, 0].set_xticklabels(as26.index, rotation=90)

axs[1, 1].bar(as27.index, as27)
axs[1, 1].set_title('2027-28')
axs[1, 1].set_xticklabels(as27.index, rotation=90)

axs[1, 2].bar(as28.index, as28)
axs[1, 2].set_title('2028-29')
axs[1, 2].set_xticklabels(as28.index, rotation=90)
plt.show()

Saving our plots. First we are creating some fake data here.

In [ ]:
import numpy as np
rng = np.random.default_rng(1234)

x = rng.uniform(0, 10, size=100)
y = x + rng.normal(size=100)

Then we are going to make a regression line. The code below will give us our m, x, and b values. We use xseq to represent the linear nature of the x variable here.

In [ ]:
m, b = np.polyfit(x, y, deg=1)
xseq = np.linspace(0, 10, num=100)

In [ ]:
plt.figure(figsize=(8, 4), layout='constrained')
plt.scatter(x, y)
plt.plot(xseq, b + m * xseq, color="k", lw=2.5)
plt.savefig('squares.pdf')

### Text Examples

There is so much we can do with text. This is a mild taste of it. We are going to bring in four packages, pandas, matplotlib, and statsmodels we have used before, and re is a new one.

In [ ]:
import re
import statsmodels.formula.api as smf
import pandas as pd
import matplotlib.pyplot as plt

We are looking at transcripts for States of the Union from 1790 - 2018. They are already downloaded and in the folder. Data is from Brian Weinstein https://github.com/BrianWeinstein/state-of-the-union

In [ ]:
df = pd.read_csv('transcripts.csv', sep = ',') 
df.head()

Look at how often presidents appear in the dataset.

In [ ]:
df['president'].value_counts()

This lets us count how many times the word apple appears in each speech. str.count looks for the word in the text (in this case the column transcript) and counts each instance of it. It is case-sensitive so we should lower case our transcripts.

In [ ]:
df['lower'] = df['transcript'].str.lower()

In [ ]:
df['count'] = df['lower'].str.count('apple')
df.head()

In [ ]:
df['count'].value_counts()

This tells us that in 230 speeches the word apple is not used. It is used twice in 13 of them and once in one of them.

We can build a loop that does the same thing but for any number of words. This is a very basic code for dictionary based processing.

First we create an empty column, which will be where we put our counts for each individual word added together.

In [ ]:
americaWords = ['freedom','liberty','rights','america',"military"]

df['words'] = 0

for i in americaWords:
    df['words'] = df['lower'].str.count(i) + df['words']
df.head()

In [ ]:
df['words'].value_counts()

Let's plot what we see.

In [ ]:
plt.hist(df['words'])
plt.show()

In [ ]:
plt.hist(df['words'])
plt.xlabel('American Words')
plt.ylabel('Counts')
plt.title("American Words in SOTU Addresses")
plt.show()

We can now run some models to see which president uses those words the most. We put president inside of a C() to indicate a categorical variable.

In [ ]:
results = smf.ols('words ~ C(president)', data=df).fit()
print(results.summary())

While that is interesting, that may not be super useful because speeches vary in length. Let's check the proportion of America words in each speech. First we need to get the word counts for each.

In [ ]:
df['wc'] = df['lower'].str.split().str.len()
df.head()

Then divide America words by the total number of words.

In [ ]:
df['americaProp'] = df['words']/df['wc']
df.head()

In [ ]:
df['americaProp'].value_counts()

New results.

In [ ]:
results = smf.ols('americaProp ~ C(president)', data=df).fit()
print(results.summary())

That is pretty exciting! We can also think about year, has our proportion increased year over year? There are a few ways to do this. The first is easy because we know the list is in sequential order. We insert a range of 244 to 0 and use -1 as the 'step', or basically decrease the number by 1 each time.

In [ ]:
df['order'] = range(244, 0, -1)
df.tail()

Now we can use order as our independent variable on americaProp. We see that, overtime, there is an increase in the proportion of words that are part of our dictionary.

In [ ]:
results = smf.ols('americaProp ~ order', data=df).fit()
print(results.summary())

We can also plot this. We see that around speech 150, there is a huge increase in the usage of these words in speeches.

In [ ]:
plt.figure(figsize=(8, 4), layout='constrained')
plt.plot(df['order'], df['americaProp'], label='americaProp')
plt.xlabel('Speech Order')
plt.ylabel('Proportion')
plt.title("americaProp Over Time")
plt.legend()
plt.show()

What about if we don't know the order or if it is random across our data? Here we can use the date variable and pandas. First we set the "date" column to a datetime object. This is sort of like when we set strings, integers, or floats. Python and pandas will treat this as a date instead of just text.

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.head()

Next we use pandas to strip out the year from the 'date' column. We set this as a new column called 'year'.

In [ ]:
df['year'] = df['date'].dt.year
df.head()

Then we just run our regression using year. We will get slightly different results because multiple speeches can be made in a year.

In [ ]:
df['year'].value_counts()

In [ ]:
results = smf.ols('americaProp ~ year', data=df).fit()
print(results.summary())

#### Practice

Plot a line graph using year as the x and americaProp as the y.

How many times does the word "debt" appear in each transcript?

Can you plot this number using a histogram?

Create a list of words you think might represent education. Write a loop to find them in the speeches.

What president has the highest number of education words? You can do an extra challenge and use the proportion of their speech. This will require you to go back a bit and look at idxmax.

#### More Text

Next we are going to use prebuilt dictionaries, specifically the VADER sentiment dictionary. I don't believe we will need to install nltk, but if so the lines below it do.

In [ ]:
#pip install nltk

What we absolutely have to do is download the vader_lexicon through nltk. First we import nltk and then use the download function inside it to downlaod vader.

In [ ]:
import nltk
nltk.download('vader_lexicon')

Next we are going to import from nltk the SentimentIntensityAnalyzer, then set it equal to sia because it is faster to type.

In [ ]:
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

We are going to use the polarity score to see if a text is negative, neutral, or positive. The scores will come back for all three categories and collectively add up to 1.

In [ ]:
sia.polarity_scores("This is a test of polarity.")

Let's try something more positive.

In [ ]:
sia.polarity_scores("The puppy was really nice!")

Negative now.

In [ ]:
sia.polarity_scores("I hate my dumb laptop so much")

Let's try it on song lyrics.

In [ ]:
df = pd.read_csv("songs.csv")
df.head()

In [ ]:
len(df)

In [ ]:
df['Artist'].value_counts()

The compound score is what we care about. It is a normalized score so it might look a little weird, but it is meant to try and show how negative or positive something is relative to all the words in it. More here: https://blog.quantinsti.com/vader-sentiment/

What we are going to do is run our polarity scores on every row. That sounds perfect for a for loop. However, because polarity_scores is giving us a dictionar, we need to subset on the value of that dictionary (I told you they would come back to haunt you!).

In [ ]:
sia.polarity_scores(df.loc[1,'Lyrics'])['compound']

So now we just loop that entire process. We need to use index and enumerate here.

In [ ]:
for idx,i in enumerate(df['Lyrics']):
    df.loc[idx,'sentiment'] = sia.polarity_scores(i)['compound']

In [ ]:
df.head()

In [ ]:
df['sentiment'].value_counts()

We can plot this and see that most songs in our data are pretty happy.

In [ ]:
plt.hist(df['sentiment'])

#### Practice

Create a histogram of the artists in the dataset.

Create a variable that is a word count for each song.

What song has the most words?

What is the relationship between word count and sentiment?

Tricky: copying our compound code, this time create columns for negative, neutral, and positive. So you should have columns for all 4 polaritiy measures.

### Recap Practice

The recap is only one "thing", which is to work with the blackfaith dataset described below. This should touch on almost everything we covered today.

There is a dataset called blackfaith and its corresponding codebook. Look through both and find some variables that you think might be related. Age, education, religiousity, income, for example.

Read in the blackfaith dataset. Check to see if there are any values that you need to change to missing. Create at least one composite measure (adding together multiple columns). Develop at least one graphic. Run at least one model.